@reference "@ageorgedev/foundation-styles/theme.css";

.container {
  --skew-deg: 3deg;
  --n-skew-deg: calc(var(--skew-deg) * -1);

  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr;
  color: var(--color-neutral);

  @supports (min-height: 100dvh) {
    min-height: 100dvh;
  }

  @variant tablet {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr;
  }

  @variant desktop {
    --skew-deg: 2deg;
    grid-template-columns: 5fr 3fr;
  }
}

.nameSection {
  background-color: var(--color-page-0);
}

.paper {
  background-color: var(--bg);

  &::before {
    content: '';
    position: absolute;
    background: var(--bg);
    inset: 0;
    z-index: -1;
  }
}

.subTextSection {
  --bg: var(--color-page-0);
  z-index: 1;
  &::before {
    content: unset;
    top: -5px;
    transform: skew(var(--n-skew-deg), var(--skew-deg));
    transform-origin: top left;
    border-left: var(--spacing-medium-line) solid var(--color-neutral);
  }

  @variant tablet {
    --bg: var(--color-page-1);
    &::before {
      content: '';
    }
  }
}

.conSection {
  --bg: var(--color-page-2);
  z-index: 2;
  background-color: transparent;
  position: relative;

  &::before {
    --move-up: -30px;
    transform: skew(0deg, 2deg);
    transform-origin: center;
    border-bottom: var(--spacing-thick-line) solid var(--color-neutral);
    position: absolute;
    height: 300px;
    top: -200px;

    @variant tablet {
      --move-up: -20px;
    }

    @variant large-desktop {
      --move-up: -10px;
    }
  }
}
