.panel {
  page-break-inside: avoid;
}

@media print {
  .panel {
    box-shadow: none;
    border: 1px solid #999;
  }

  .panel h2 {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
