@import "@ageorgedev/foundation-styles/tailwind.css";

@source "../";
@source "../../../packages/design-system/src";
@source "../../../packages/dnd-character-sheet/src";

@media print {
  html {
    font-size: 9pt;
  }
  body {
    background-color: transparent;
  }
  .TanStackRouterDevtools {
    display: none;
  }
}

body {
  /* @apply lining-nums; */
}
